.root {
  display: flex;
  flex-direction: row;
}

.first {
  flex: 0 0 155px;
}

.second {
  margin-left: 1rem;
}

@media (max-width: 755px) {
  .root {
    display: flex;
    flex-direction: column;
  }

  .first {
    flex-basis: 100%;
    padding-bottom: 1rem;
  }

  .second {
    margin-left: 0;
  }
}
