.root {
  --height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: var(--height);
  background-color: #282c34;

  .item {
    display: flex;
    padding: 0 46px;
    font-size: 28px;
    text-align: center;
    line-height: var(--height);
    cursor: pointer;
    color: #ffe4e4;
    text-decoration: none;
    transition: color 0.25s ease;
    transition: background-color 0.75s ease;

    &.active {
      background-color: #ffe4e4;
      color: black;
    }

    &:hover {
      background-color: #f1e7e7;
      color: black;
    }
  }
}
