.root {
  --height: 6.25rem;
  @media only screen and (max-width: 600px) {
    --height: 3.25rem;
    justify-content: space-around;
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: var(--height);
  background-color: #282c34;

  .item {
    display: flex;
    padding: 0 2.875rem;
    font-size: 1.75rem;
    text-align: center;
    line-height: var(--height);
    cursor: pointer;
    color: #ffe4e4;
    text-decoration: none;
    transition: color 0.25s ease;
    transition: background-color 0.75s ease;

    &.active {
      background-color: #ffe4e4;
      color: black;
    }

    &:hover {
      background-color: #f1e7e7;
      color: black;
    }
  }

  @media only screen and (max-width: 600px) {
    .item {
      font-size: 1.35rem;
      padding: 0 0.5rem;
    }
  }
}
