.root {
  box-shadow: 0 1px 5px 0px var(--menu-bottom-color);

  --height: 5.25rem;
  @media only screen and (max-width: 600px) {
    --height: 3.25rem;
  }

  display: flex;
  justify-content: center;

  height: var(--height);

  .item {
    display: flex;
    padding: 0 2.875rem;
    font-size: 1.75rem;
    text-align: center;
    line-height: var(--height);
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);

    &.active,
    &:active {
      background-color: var(--menu-active-bg-color);
      color: var(--menu-active-text-color);
    }
    &:hover {
      background-color: var(--menu-hover-bg-color);
      color: var(--menu-active-text-color);
    }
  }

  @media only screen and (max-width: 600px) {
    .item {
      font-size: 1.35rem;
      padding: 0 0.5rem;
    }
  }
}
