.root {
  .avatar,
  .links {
    display: inline-block;
  }
  .contacts {
    overflow: auto;
  }


  @media screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contacts {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }


    .avatar {
      max-width: 320px;

      &__small {
        max-width: 160px;
      }
    }

    .links {
      float: right;
    }

    .contacts {
      width: 100%;
    }
  }

  margin-top: 1rem;

  .flex {
    display: flex;
  }

  @media print {
    .avatar {
      max-width: 160px;
    }

    .links {
      float: right;
    }
  }
}

.print {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
}
