.root {
  margin-bottom: 28px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;

  &.__small {
    flex-direction: column;
  }

  & > div {
    max-width: 100%;
  }
  & > .left {
    min-width: 256px;
  }

  &.tags {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    word-break: break-word;
    column-fill: balance;
  }
}
