.root {
  margin-bottom: 1.75rem;

  @media screen {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
  }

  .right {
    max-width: 50rem;
  }

  .left {
    min-width: 13rem;
    margin-right: 2rem;
  }

  &.__small {
    flex-direction: column;
  }

  &.tags {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    word-break: break-word;
    column-fill: balance;
  }

  @media print {
    .left {
      display: inline-block;
      vertical-align: top;
      margin-right: 0;
      min-width: 12rem !important;
      max-width: 20% !important;
    }

    .right {
      display: inline-block;
      max-width: 70%;
    }
  }
}
