.root {
  margin-bottom: 1.75rem;
  // border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;

  .right {
    // border: 1px solid green;
    max-width: 50rem;
  }

  .left {
    // border: 1px solid yellow;
    min-width: 13rem;
    margin-right: 2rem;
  }

  &.__small {
    flex-direction: column;
  }

  &.tags {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    word-break: break-word;
    column-fill: balance;
  }
}
